<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newsboard2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newsboard2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>newsboard2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$newsboard2</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="IdentityConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:kiz2t726q9.database.windows.net,1433;Initial Catalog=identity;Persist Security Info=True;User ID=newsboarddb@kiz2t726q9;Password=nbdb1234A" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NewsBoard.Web.Models.ApplicationDbContext, NewsBoard.Web" MigrationConfiguration="NewsBoard.Web.Models.Migrations.Configuration, NewsBoard.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:kiz2t726q9.database.windows.net,1433;Initial Catalog=newsboarddb;Persist Security Info=True;User ID=newsboarddb@kiz2t726q9;Password=nbdb1234A" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NewsBoard.Persistence.NewsDb, NewsBoard.Persistence" MigrationConfiguration="NewsBoard.Persistence.Migrations.Configuration, NewsBoard.Persistence" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kiz2t726q9.database.windows.net,1433;Initial Catalog=newsboarddb;Persist Security Info=True;User ID=newsboarddb@kiz2t726q9;Password=nbdb1234A</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kiz2t726q9.database.windows.net,1433;Initial Catalog=identity;Persist Security Info=True;User ID=newsboarddb@kiz2t726q9;Password=nbdb1234A</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>