<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="TIAGO-TOSH" value="C:\Users\Tiago\Documents\ISEL\1314v\PS\S1314V-LI61D-G10\NewsBoard" />
    <add key="Ricardo-PC" value="C:\Users\Ricardo\Desktop\Repositórios PDM, PS e SD\PS-G10\NewsBoard" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.1" newVersion="3.1.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>